@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700&family=Bellefair&display=swap');

* {
  color: white;
}

body {
  background-color: $primary-color;
  margin: 0;
}