.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blur-background;
    height: 96px;
    width: 60%;
    .navbutton:hover {
      border-bottom: solid $hover-bar-height $blur-hover;
      border-top: solid $hover-bar-height rgba(0,0, 0, 0);
      height: calc(100% - $hover-bar-height * 2);
    }
    div {
      display: flex;
      margin: auto 30px;
      height: 100%;
      vertical-align: middle;
      a {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
      }
    }
    .navbutton-active {
      border-bottom: solid $hover-bar-height white;
      border-top: solid $hover-bar-height rgba(0,0, 0, 0);
      height: calc(100% - $hover-bar-height * 2);
    }
  }
}