.navbar-container {
  @include flex(space-between);
  margin-top: 40px;
  margin-left: 55px;
  .navbutton-container {
    @include flex();
    position: relative;
    background-color: $blur-background;
    backdrop-filter: blur(30px);
    height: 96px;
    width: 60%;
    .decorative-rectangle {
      position: absolute;
      background-color: $blur-hover;
      height: 1px;
      width: 57%;
      left: -57%;
    }
    .navbutton:hover {
      border-bottom: solid $hover-bar-height $blur-hover;
      border-top: solid $hover-bar-height rgba(0,0, 0, 0);
      height: calc(100% - $hover-bar-height * 2);
    }
    div {
      margin: auto 30px;
      height: 100%;
      vertical-align: middle;
      a {
        @include flex();
        align-items: center;
        height: 100%;
      }
    }
    .navbutton-active {
      border-bottom: solid $hover-bar-height white;
      border-top: solid $hover-bar-height rgba(0,0, 0, 0);
      height: calc(100% - $hover-bar-height * 2);
    }
  }
}