// colors
$primary-color: #0b0d17;
$secondary-color: #d0d6f9;

// font sizes
$h1-fs: 150px;
$h2-fs: 100px;
$h3-fs: 56px;
$h4-fs: 32px;
$h5-fs: 28px;

$subheading1-fs: 28px;
$subheading2-fs: 14px;

$nav-text-fs: 16px;

// character space
$h5-cs: 4.75;
$subheading2-cs: 2.35;
$nav-text-cs: 2.7;

// hover opacity